.checkout{
    display: flex;
    padding: 20px;
    background-color: #fafafa;
    height: max-content;
    bottom: 20px;
}

.checkout-title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout-left{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

.checkout-right{
    margin-top: 150px;
    margin-left: 900px;
}