

.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #df03fc;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-logo{
    display: flex;
    align-items: center;
    margin: 0;
    object-position: 0px 50px;
}

.header-title{
    border: 0;
    text-decoration: solid;
    color: aliceblue;
    font-size: larger;
}

.header-search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.search{
    height: 20px;
    padding: 10px;
    border: none;
    width: 50%;
}

.header-search-icon{
    padding: 5px;
    height: 22px;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
    
}

.nav-item{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}

.guest-greeting{
    display: flex;
    font-size: 15px;
    font-weight: 500;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 0px;
    color: aliceblue;
}

.sign-in{ 
    display: flex;
    font-size: 13px;
    font-weight: 700;
    /* align-items: center; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    color: aliceblue;
}

.shopping-cart{
    flex-direction: column;
    display: inline;
    object-position: 0px 50px ;
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
    color: aliceblue;
}

.shopping-cart-logo{
    align-items: center;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-itemNumber{
    margin-left: 20px;
    margin-right: 10px;  
    margin-top: 0px;
    margin-bottom: 0px;
    color: aliceblue;
}